*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    /* border: 1px solid red; */
}

:root {
    --bg-green: #005544;
    --text-light-green: #cbf7cb;
    --text-green: #00d455;
    --shadow-color: #123a1c;
}

html {
    background-color: var(--bg-green);
}

.text-green {
    color: var(--text-green);
}

.text-light-green {
    color: var(--text-light-green);
}

.text-justify {
    text-align: justify;
}
/* SECTION HOME */
section.home {
    background-image: url('../media/coverphoto.jpg');
    background-position: center;
    background-size: cover;
    height: 100dvh;
    height: 100svh;
    height: 100vh;
}

div.bg-opaque {
    position: absolute;
    background-color: var(--bg-green);
    height: 100dvh;
    height: 100svh;
    height: 100vh;
    width: 100%;
    opacity: 50%;
    z-index: 1;
}

div.profile {
    position: relative;
    z-index: 2;
    display: grid;
    height: 100%;
    grid-template-rows: .3fr 1fr .2fr;
    grid-template-columns: 1fr;
    grid-template-areas: 
        "quote"
        "p-wrapper"
        "ad";
}

div.quote {
    display: grid;
    grid-area: quote;
    color: var(--text-light-green);
    justify-content: center;
    align-items: end;
}

div.quote span {
    position: relative;
    text-align: center;
    font-style: italic;
    font-size: 1.6rem;
}

div.profile-wrapper {
    display: flex;
    grid-area: p-wrapper;
    justify-content: center;
    align-items: center;
}

div.profile-wrapper div {
    margin: 0 10px;
}

div.profile-img div.img {
    position: relative;
    background-image: url('../media/profilepic.jpg');
    background-position: center;
    background-size: contain;
    width: 13rem;
    height: 13rem;
    border-radius: 50%;
}

div.profile-name {
    position: relative;
    margin-left: 20px;
}

div.profile-name-container {
    display: flex;
    flex-direction: column;
    width: fit-content;
}

div.profile-name-container h1 {
    display: inline;
    font-size: 3.1rem;
    font-weight: normal;
    color: var(--text-light-green);
}

div.profile-name-container span.profession {
    display: inline;
    font-size: 1.3rem;
    color: var(--text-green);
}

div.profile-name-container div.profile-socmed {
    display: flex;
    justify-content: space-evenly;
    margin-top: 2rem;
}

div.profile-name-container div.profile-socmed a {
    color: var(--text-light-green);
}

div.arrow-down {
    grid-area: ad;
    display:grid;
    justify-content: center;
}

div.arrow-down-img {
    width: 2rem;
    height: 2rem;
    background-image: url('../media/arrow-down.svg');
    background-size: contain;
    background-repeat: no-repeat;
    animation-name: arrow-down;
    animation-duration: 1s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

@keyframes arrow-down{
    from {
        transform: translateY(0px);
    }
    to {
        transform: translateY(20px);
    }
}
/* END SECTION HOME */
.container-fluid {
    margin: 0 15% auto;
}
/* SECTION PORTFOLIO */
section.portfolio {
    height: max-content;
    padding-top: 4em;
}

.projects {
    display: grid;
    row-gap: 2rem;
}

.divider {
    margin: 20px 0;
    height: 3px;
    background-color: var(--shadow-color);
}

.header {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 2rem;
    color: var(--text-light-green);
}

.card {
    display:grid;
    gap: 2em;
    /* margin: 0 5% auto; */
    padding: 15px 20px;
    box-shadow: 1px 1px 10px var(--shadow-color);
    border-radius: 10px;
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-body h3 {
    color: var(--text-green);
    margin-bottom: 5px;
    text-align: center;
}

.card-body p {
    text-align: justify;
    color: var(--text-light-green);
}

.card-right {
    display: flex;
    grid-row: 1;
    grid-column: 2;
}

.card-left {
    display: flex;
    grid-row: 1;
    grid-column: 1;
}

.card-left .tools-used {
    display: flex;
    justify-content: flex-end;
}

.card-right .tools-used {
    display: flex;
    justify-content: flex-start;
}

.tools-used span{
    margin: 0 5px;
    padding: 2px 3px;
    color: var(--text-green);
}

.project-media {
    position: relative;
    width: 400px;
    height: 300px;
    background-color: var(--shadow-color);
    border-radius: 10px;
}
/* END SECTION PORTFOLIO */
/* SECTION ABOUT */
section.about {
    height: calc(100lvh - 4em);
    height: calc(100dvh - 4em);
    height: calc(100svh - 4em);
    height: calc(100vh - 4em);
    display: grid;
    grid-template-columns: .5fr 1fr;
    grid-template-rows: .2fr 1fr;
    padding-top: 4em;
    grid-template-areas: 
        "hd hd"
        "img text"
    ;
}

.about-img {
    width: 13rem;
    height: 13rem;
    background-image: url('../media/profilepic.jpg');
    background-position: center;
    background-size: contain;
    border-radius: 50%;
    grid-area: img;
}

h1.about-me {
    grid-area: hd;
}

div.info {
    grid-area: text;
}

div.info h3:not(:first-child) {
    margin-bottom: 1em;
    margin-top: 1em;
}

div.info h3:first-child {
    margin-bottom: 1em;
}
/* END SECTION ABOUT */
/* SECTION CONTACT */
section.contact {
    height: calc(100lvh - 4em);
    height: calc(100dvh - 4em);
    height: calc(100svh - 4em);
    height: calc(100vh - 4em);
}

div.contact-info {
    height: calc(80% - 4em);
    display:flex;
    flex-direction: column;
    margin: 0 5rem auto;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
}

.text-bold {
    font-weight: bold;
}
/* END SECTION CONTACT */